{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<main>
  <a href="/" class="playlist_name_close"></a>
  <section>

    <div class="title">Назвіть плейліст</div>

    <form class="form" method="POST" action="/spotify-create{{#if data.isMix}}?isMix=true{{/if}}">
      <input required placeholder="Назва" type="text" name="name" class="playlist_name_input">


      <button class="playlist_name_button">Створити</button>
    </form>


  </section>
</main>



{{!
Цей код містить лише те, що буде виводитись в

<body>
  Адже наш layout/default.hbs має вже структуру HTML
  }}