@use '../../lib/service.scss' as s;

@use '../../component/heading/style.scss' as heading;
@use '../../component/purchase-product/style.scss' as purchaseProduct;
@use '../../component/button/style.scss' as button;

main {
    display: flex;
    justify-content: center;
   
}

.main_content{
    display: flex;
    flex-direction: column;
    gap: s.space(10);
    padding: s.space(10);
    font-family: 'Inter', sans-serif;
    max-width: 1000px;
    width: 100%;
}

body {
    background-color: #92919188;
    padding: s.space(4);
}

.product-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: s.space(5);
}