{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<main>
  <div class="title">Товари</div>
  <div class="story">Комп'ютери та ноутбуки / Комп'ютери, неттопи, моноблоки</div>
  <section>


    {{#with data}}

    {{> purchase}}
    {{> purchase}}
    {{> purchase}}

    {{/with}}

  </section>
</main>



{{!
Цей код містить лише те, що буде виводитись в

<body>
  Адже наш layout/default.hbs має вже структуру HTML
  }}