@use '../../lib/service.scss' as s;

body {
    background-color: #92919188;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main{
    padding: s.space(5);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: s.space(4);
}

section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    gap: s.space(4);
    width: 1000px;
}

.title{
    font-size: s.space(8);
}
.story{
    font-size: s.space(4);
    margin-bottom: s.space(4);
}

.card{
    min-width: 320px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: s.space(4);
    border-radius: s.space(3);
    border: 1px solid #9ea2a5;

    &_body{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: s.space(4);  
    }

    &_title{
        font-size: s.space(5);
        font-weight: 600;
    }

    &_description{
        font-size: s.space(4);
    }

    &_button{
        font-size: s.space(5);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: s.space(2);
        gap: s.space(2);
        padding: s.space(4) s.space(4);
        background-color: #0050FF;
        color: white;
        width: 288px;
        text-decoration: none;
    }

    &_info_badge{
        display: flex;
        align-items: flex-start;
        align-content: flex-start;
        gap: s.space(4);
        align-self: stretch;
        flex-wrap: wrap;
    }

    &_badge_ready{
        display: flex;
        padding: s.space(2) s.space(4);
        align-items: flex-start;
        gap: 10px;
        border-radius: 80px;
        border: 1px solid var(--Green, #008000);  
        color: #008000;  
    }

    &_badge_top{
        display: flex;
        padding: s.space(2) s.space(4);
        align-items: flex-start;
        gap: 10px;
        border-radius: 80px;
        border: 1px solid var(--Green, #0050FF);  
        color: #0050FF; 
    }
}

