@use '../../lib/service.scss' as s;

@use '../../component/heading/style.scss' as heading;
@use '../../component/purchase-product/style.scss' as purchaseProduct;
@use '../../component/field/style.scss' as field;
@use '../../component/divider/style.scss' as divider;
@use '../../component/button/style.scss' as button;

main {
    display: flex;
    justify-content: center;
}

.main_content{
    display: flex;
    flex-direction: column;
    gap: s.space(10);
    padding: s.space(10);
    font-family: 'Inter', sans-serif;
    max-width: 1000px;
    width: 100%;
}

body {
    background-color: #92919188;
    padding: s.space(4);
}

.product-info {
    display: flex;
    gap: s.space(4);
    align-items: flex-start;
} 

.product-list{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: s.space(5);
}

.product-info_image{
    max-height: 450px;
    max-width: 450px;
    width: 100%;
}

.product-info_title{
    font-size: 20px;
    font-weight: bold;
    line-height: 130%;
}

.product-info_subtitle{
    font-size: 16px;
    color: grey;
    line-height: 130%;
}

.product-info_category { 
    padding: 5px 10px;
    border-radius: 30px; 
    font-size: 14px;
    color: s.color(dark);
    border: 1px solid transparent;
}

.product-info_category--1 {
    border-color: #0050FF;
    color: #0050FF;
    display: flex;
    padding: 8px 16px;
    align-items: flex-start;
    gap: 10px;
}

.product-info_category--2 {
    border-color: #008000;
    color: #008000;
    display: flex;
    padding: 8px 16px;
    align-items: flex-start;
    gap: 10px;
}

.right_part{
    width: 50%;
    height: 450px;
    display: flex;
    flex-direction: column;
    gap: s.space(6);
    align-items: flex-start;
    position: relative;
}

.left_part{
    width: 50%;
    background-color: rgb(211, 211, 211);
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}

.product-info_button{
    position: absolute;
    bottom: 0px;
}